.main_list {
  padding-top: 0;
}

.main_list__item {
  background-color: #d3d3d3;
  min-width: 90%;
  margin: 0 5%;
  list-style-type: none;
  display: flex;
  padding: 20px 0;
}
.main_list__item a {
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
}
.main_list__item:nth-child(2n) {
  background-color: #fff;
}
.main_list__item:nth-child(2n) a {
  color: #333;
}
.main_list__item a:hover {
  text-decoration: underline;
}
.preloader {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin: auto;
  margin-top: 200px
}
